[Unit]
Description=selfnetd
After=network.target

[Service]
Type=dbus
PIDFile=/var/run/selfnetd/selfnetd.pid
BusName=org.fpemud.SelfNet
ExecStart=/usr/sbin/selfnetd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

